apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

bases:
  - ../../base

namePrefix: staging-

commonLabels:
  environment: staging

configMapGenerator:
  - name: nodejs-app-config
    behavior: merge
    literals:
      - NODE_ENV=staging
      - LOG_LEVEL=info

patches:
  - path: patches.yaml
